body{
    font-family: Arial, Helvetica, sans-serif;
    background: green;
}
#table-siswa{
    border-collapse: collapse;
    background-image: url(background.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;

    border-width: 1px;
    border-style: solid;
    border-color: white;

    margin: auto;
}
#table-siswa h3{
    font-size: 32px;
}
#table-siswa td{
    padding: 20px;
}
.link{
    color: red;
    text-decoration: none;
}